apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: ml-orchestrator-hpa
  namespace: ml-orchestrator
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: ml-orchestrator
  minReplicas: 2
  maxReplicas: 6
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 70
